# Ignore all folders except AchievementPlugin
/*/
!/AchievementPlugin/

# But within AchievementPlugin, ignore these:
AchievementAchievementPlugin/Intermediate/
AchievementAchievementPlugin/Saved/
AchievementAchievementPlugin/DerivedDataCache/

# IDE/Editor specific files
AchievementPlugin/.vs/
AchievementPlugin/.vscode/
AchievementPlugin/*.VC.db
AchievementPlugin/*.opensdf
AchievementPlugin/*.opendb
AchievementPlugin/*.sdf
AchievementPlugin/*.sln
AchievementPlugin/*.suo
AchievementPlugin/*.xcodeproj/
AchievementPlugin/.idea/

# OS specific
AchievementPlugin/.DS_Store
AchievementPlugin/Thumbs.db