# Ignore all folders except Plugin
/*/
!/Plugin/

# But within Plugin, ignore these:
Plugin/Intermediate/
Plugin/Saved/
Plugin/DerivedDataCache/

# IDE/Editor specific files
Plugin/.vs/
Plugin/.vscode/
Plugin/*.VC.db
Plugin/*.opensdf
Plugin/*.opendb
Plugin/*.sdf
Plugin/*.sln
Plugin/*.suo
Plugin/*.xcodeproj/
Plugin/.idea/

# OS specific
Plugin/.DS_Store
Plugin/Thumbs.db