# Ignore all folders except AchievementPlugin
/*/
!/AchievementPlugin/

# But within AchievementPlugin, ignore these:
AchievementPlugin/Intermediate/
AchievementPlugin/Saved/
AchievementPlugin/DerivedDataCache/

# IDE/Editor specific files
AchievementPlugin/.vs/
AchievementPlugin/.vscode/
AchievementPlugin/*.VC.db
AchievementPlugin/*.opensdf
AchievementPlugin/*.opendb
AchievementPlugin/*.sdf
AchievementPlugin/*.sln
AchievementPlugin/*.suo
AchievementPlugin/*.xcodeproj/
AchievementPlugin/.idea/

# OS specific
AchievementPlugin/.DS_Store
AchievementPlugin/Thumbs.db

# Don't include Steamworks or other Third Party Libs
AchievementPlugin/source/ThirdParty/